

<header class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>EXPRESS+EJS+MONGODB ->COMMENT PROJECT</h1>
            <p >采用express+mongodb+，ejs模板搭建WEB应用，实现登陆、注册、保留登陆信息、评论等功能</p>
        </div>
    </div>
    
</header>